.products{
    margin:30px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    flex-basis: 31%;
    overflow: hidden;
    padding-bottom: 0px;
    position: relative;
    border: 2px solid black;
    border-radius: 20px;
}
.locate{
    color: darkgoldenrod;
    margin-top: 5px;
    margin-right: 2px;
    font-size: 20px;
}
.rate{
    position: absolute;
    right: 10px;
    top: 5px;
    background-color: white;
    padding: 5px 15px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.star{
    color: darkgoldenrod;
    vertical-align: middle;
    margin-right: 3px;
    
}
.poster{
    width: 100%;
    height: 350px;
}
.poster img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.description{
    padding: 10px;
    width: 100%;
}
.description h2, .description p{
    display: block;
}
.description p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}
.price{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.description button{
    width: 100%;
    height: 100%;
    padding: 10px 0;
    font-size: 19px;
    border-radius: 20px;
    background-color: darkgoldenrod;
    color: white;
    border: 1px solid black;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 5px #00000096;
}
.description button:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 15px #000000d5;
}
@media (max-width:700px){
    .products{
        flex-wrap: wrap;
    }
    .card{
        flex-basis: 100%;
        margin: 20px auto;
    }
}